<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Atendimento</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Sistema de Atendimento da Clínica Médica</h1>
    <form id="agendamentoForm">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
        <label for="data">Data:</label>
        <input type="date" id="data" name="data" required>
        <button type="submit">Agendar</button>
    </form>

    <script src="static/scripts.js"></script>
</body>
</html>
